@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KNBobohei";
  src: url("./fonts/KNBobohei-Bold.ttf") format("truetype");
}

* *::before *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
div,
span,
label,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
a,
em,
strong,
b,
i,
u,
s,
strike,
small,
sub,
sup,
code,
pre,
blockquote,
q,
del,
ins {
  font-family: "KNBobohei", "Titan One", sans-serif;
}

input:focus-visible {
  outline: 0;
}

.success-notification {
  padding: 0.5rem 0.5rem;
}
